

html, body {
  height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  /*need relative position for scrollspy*/
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  /*font-weight: 400;*/
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

.section {
  padding: 90px 0 0 0;
}

.section-header {
  margin-bottom: 30px;
}

/*********************
  NAVBAR
******************************/
.header {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main-navigation .navbar-default {
  background-color: transparent;
  border: none;
}
.main-navigation .navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

/* Fixed Header
----------------------------------- */
.fixed-header-on .header {
  background-color: #fff;
  border-bottom: 1px solid #BEBEBA;
  padding: 5px 0 30px; 
}
.fixed-header-on .springboard-name {
  font-size: 24px;
}
.fixed-header-on .springboard-logo {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.fixed-header-on .main-navigation .navbar-default .navbar-nav > li > a {
  color: #999993; /* dark grey*/
}
/* Scroll Spy overide color*/
.main-navigation .navbar-default .navbar-nav > li.active > a {
  background-color: transparent;
  color: #12a162; /* green*/
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
  color: #D6D6D3; 
}
.fixed-header-on .navbar-default .navbar-toggle  {
  border-color: transparent;
}
.springboard-logo {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.springboard-slogan {
  font-size: 13px;
  color: #003900;  /*dark green */
  padding-top: 10px; 
}
.navbar-brand>img {
  margin: 0 0 0 130px; 
 }
.navbar-right {
  margin: 20px 100px 0 0; 
 }
.fixed-header-on .header .navbar {
  margin-bottom: 0;
 }

/*********************
  Banner
******************************/
.main-banner {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  color: #ffffff;
}
#banner-img {
  background-image: url(../img/banner-med.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  min-width: 100%;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  overflow: hidden;
}
.banner-text {
  top: 40%;
  width: 100%;
  position: absolute;
  letter-spacing: 2px;
  z-index: 5;
}
.banner-text h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: #ffffff;
}
.banner-text h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.springboard-banner-text {
  color: #FFFF00;
  font-style: italic;
}
#banner-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

/***********************
  PHILOSOPHY
***************************/

/***********************
  Yoga image
***************************/
#yoga {
    overflow: auto;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
}
#yoga .yoga-img {
  /*background-image: url("../img/yoga-med.jpg");*/
  background-image: url("../img/yoga-med-low.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  overflow: hidden;
}
#yoga h2 {
  padding-top: 50%;
  font-size: 36px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 3px 3px #000;
  position: absolute;
}

/***********************
  SERVICES
***************************/
#services h2 {
  margin-top: 40px;
  font-weight: 400;
}
#services {
  padding-bottom: 60px;
}

/***********************
  ABOUT
***************************/
  .rounded-img {
    width: 50%;
    /*border-radius: 20px;*/
  }

/***********************
  CONTACT
***************************/
.contact-icons {
  padding-right: 25px;
}
#contact h4 {
  text-align: left;
}
#contact a {
  color: #333;
}
#contact {
  padding-bottom: 50px;
}

/* ------------------------------------------
  FOOTER
-------------------------------------------------- */
#footer {
  padding: 10px;
  background-color: #313233;
  margin-top: 0;
}
#footer p {
  padding-top: 5px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

/*********************
  MEDIA QUERIES
******************************/
/* Navbar 
-------------------------*/
@media (max-width: 1024px) {
  .navbar-brand>img {
    margin: 0 0 0 10px;
  }
  .navbar-right {
    margin: 25px 20px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .fixed-header-on .header {
    padding: 5px 0;
  }
}
@media (min-width:768px) {
  .main-navigation .navbar-default .navbar-nav > li > a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .navbar-default .navbar-collapse {
    border-color: transparent;
  }
}

@media (max-width: 768px) {
  .springboard-slogan {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  /* make white only when background transparent*/
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .main-navigation .navbar-default .navbar-nav > li > a {
    font-size: 14px;
  }
  .main-navigation .navbar-default .navbar-nav > li:not(:last-of-type) {
    border-bottom: 1px solid #D8D8D5;
  }
    /* add color only when transparent collapse open*/
  .collapse.in {
    background-color: rgba(0, 0, 0, 0.6);
  } 
  /*remove above background color to keep dropdown same
  color as navbar */
  .fixed-header-on .collapse.in {
    background-color: #fff;
  }
  .fixed-header-on .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .fixed-header-on .header {
    padding: 0;
  }
  .fixed-header-on .header .navbar {
    margin-bottom: -10px;
  }
}

@media (min-width: 736px) and (max-width: 767px) {
  .navbar-toggle {
    padding: 30px 20px;
  }
}
@media (max-width: 735px) {
  .navbar-toggle {
    padding: 25px 20px;
  }
}
@media (min-width: 730px) and (max-width: 732px) and (orientation: landscape) {
  .fixed-header-on .header {
    padding-bottom: 10px;
  }
}
@media (max-width: 667px) {
  .springboard-logo img {
   height: 60px; 
  }
}

@media (max-width: 375px) {
  .navbar-brand>img {
    margin: 0;
  }
}

/*-------------------------------------*/
@media (min-width: 1920px) {
  #banner-img {
  background-image: url(../img/banner-lg.jpg);
  }
  #yoga .yoga-img {
  /*background-image: url(../img/yoga-lg.jpg);*/
  background-image: url(../img/yoga-lg-low.jpg);
  }
}
@media (min-width: 1600px) {
  p {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  #contact {
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) {
  .row.svc-second-row {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .laura-img {
    margin: 0 auto;
  }
  .about-text :first-of-type {
    padding-top: 25px;
  }
  #services p:last-of-type:not(#transform-second) {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .section {
    /*padding: 70px 0 0 0;*/
    padding: 55px 0 0 0;
  }
  #contact.section {
    padding: 50px 0 40px 0;
  }
  .laura-img {
    width: 40%;
  }
  .quote-img {
    margin: 20px auto;
    padding-top: 20px;
    width: 40%;
  }
  #banner-img {
  background-image: url(../img/banner-sm.jpg);
  }
  #yoga .yoga-img {
  /*background-image: url(../img/yoga-sm.jpg);*/
  background-image: url(../img/yoga-sm-low.jpg);
  }
}
@media (min-width: 321px) and (max-width: 736px) {
  .banner-text h1 {
    font-size: 36px;
  }
}
@media (min-width: 480px) and (max-width: 736px) {
  #yoga h2 {
    padding-top: 20%;
  }
}

@media (max-width: 414px) {
  .quote-img {
    width: 50%;
  }
}
@media (max-width: 320px) {
  .banner-text h1 {
    font-size: 35px;
  }
  h1, #yoga h2 {
    font-size: 30px;
  }
  #banner h3 {
    font-size: 20px;
  }
}
